.header{
    box-sizing: border-box;
    background-color: #131921;
    display:flex;
    align-items:center;
    padding:.3rem;
    position:sticky;
    top:0;
    z-index:1000;
    width:100%;
    flex-wrap:wrap;
    justify-content: center;
}
.header__logo{
    width:100px;
    cursor:pointer;
    margin:18px 20px 0;
    object-fit:contain;
}
.header__search{
    display:flex;
    flex:1;
}
.header__nav{
    display:flex;
    justify-content: space-around;
}
.header__searchInput{ 
    padding:5px;
    border:0;
    width:100%;
    outline-color: #F3A847;
}

.header__searchIcon{
    background-color: #F3A847;
    padding:5px;
    height:22px !important;
    cursor:pointer;
}
.header__option{
    display:flex;
    flex-direction: column;
    margin: 0 15px;
}
.header__option span:first-child{
    font-size:.75rem;
}
.header__option span:last-child{
    font-size:.95rem;
    font-weight: 700;
}
.header__link{
    text-decoration:none;
    color:white;
}
.header__basketCount{
    align-self:center;
}